@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?b102f893cf52089961f6e3a168a864c7") format("truetype"),
url("./flaticon.woff?b102f893cf52089961f6e3a168a864c7") format("woff"),
url("./flaticon.woff2?b102f893cf52089961f6e3a168a864c7") format("woff2"),
url("./flaticon.eot?b102f893cf52089961f6e3a168a864c7#iefix") format("embedded-opentype"),
url("./flaticon.svg?b102f893cf52089961f6e3a168a864c7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-creativity:before {
    content: "\f101";
}
.flaticon-seo:before {
    content: "\f102";
}
.flaticon-cooperation:before {
    content: "\f103";
}
.flaticon-right-arrow:before {
    content: "\f104";
}
.flaticon-profits:before {
    content: "\f105";
}
.flaticon-technical-support:before {
    content: "\f106";
}
.flaticon-medal:before {
    content: "\f107";
}
.flaticon-web-maintenance:before {
    content: "\f108";
}
.flaticon-plan:before {
    content: "\f109";
}
.flaticon-add:before {
    content: "\f10a";
}
