$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?b102f893cf52089961f6e3a168a864c7") format("truetype"),
url("./flaticon.woff?b102f893cf52089961f6e3a168a864c7") format("woff"),
url("./flaticon.woff2?b102f893cf52089961f6e3a168a864c7") format("woff2"),
url("./flaticon.eot?b102f893cf52089961f6e3a168a864c7#iefix") format("embedded-opentype"),
url("./flaticon.svg?b102f893cf52089961f6e3a168a864c7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "creativity": "\f101",
    "seo": "\f102",
    "cooperation": "\f103",
    "right-arrow": "\f104",
    "profits": "\f105",
    "technical-support": "\f106",
    "medal": "\f107",
    "web-maintenance": "\f108",
    "plan": "\f109",
    "add": "\f10a",
);

.flaticon-creativity:before {
    content: map-get($flaticon-map, "creativity");
}
.flaticon-seo:before {
    content: map-get($flaticon-map, "seo");
}
.flaticon-cooperation:before {
    content: map-get($flaticon-map, "cooperation");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-profits:before {
    content: map-get($flaticon-map, "profits");
}
.flaticon-technical-support:before {
    content: map-get($flaticon-map, "technical-support");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-web-maintenance:before {
    content: map-get($flaticon-map, "web-maintenance");
}
.flaticon-plan:before {
    content: map-get($flaticon-map, "plan");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
